<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>ユーザ一覧</title>
    <link rel="icon" href="../static/favicon.png">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>
    <h1>検索結果</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>名前</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><a href="/users/{{ user.id }}">
                    <p>{{ user.id }}</p>
                </a></td>
            <td>{{ user.name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>