<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>Top / SOPHIST</title>
    <link rel="icon" href="../static/favicon.png">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}
    {% if current_user.is_authenticated %}
        <center class="mt-5 text-7xl">
            ようこそ {{ current_user.name }}
        </center>
        <center class="mt-5 text-xl">
            ▼ GET ({{ current_user.name }} が作成した問題)
        </center>
        <center class="mt-5 text-xl">
            ▼ GET ({{ current_user.name }} がインポートした問題)
        </center>
        <center class="mt-5 text-xl">
            ▼ GET ({{ current_user.name }} がブックマークした問題)
        </center>
        <center class="mt-5 text-xl">
            ▼ GET ({{ current_user.name }} の履歴)
        </center>
    {% else %}
        <center class="mt-5 text-7xl">
            ログインしてください
        </center>
    {% endif %}
    {% endblock %}
</body>


</html>