<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>Top / SOPHIST</title>
    <link rel="icon" href="../static/favicon.png">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}
    {% if current_user.is_authenticated %}
    <div class="ml-10 my-2 text-2xl text-yellow-600">
        ようこそ {{ current_user.name }} 様
    </div>

    <!--アコーディオン-->
    <div class="ml-14 mb-10">
        <div x-data="{ isOpen: true }" class="w-fit mt-5">
            <div @click="isOpen = !isOpen" class="w-fit text-xl cursor-pointer">
                <span x-show="!isOpen">▶</span>
                <span x-show="isOpen">▼</span>
                Bookmark List
            </div>
            <ul x-show="isOpen" class="mt-2">
                <!--リストカード-->
                <li class="flex flex-wrap">
                    {% for index in range(created_list_titles|length) %}
                    {% set list_title = created_list_titles[index] %}
                    {% set list_id = created_list_ids[index] %}
                    <div
                        class="m-2 w-[200px] h-[125px] border rounded-md border-yellow-600 bg-gray-50 overflow-hidden hover:shadow-xl flex flex-col items-center">
                        <div class="w-[200px] pl-2 bg-white flex justify-between items-center border-b-2 border-stone-300 rounded-md"
                            x-data="{open_etc: false}">
                            <div class="text-xl">List ID: {{ list_id }}</div>
                            <div>
                                <span class="cursor-pointer font-bold text-xl" @click="open_etc = true">︙</span>

                                <!--リスト詳細メニュー-->
                                <span x-show="open_etc" @click.away="open_etc = false">
                                    <div
                                        class="absolute flex flex-col p-2 bg-white rounded rop-shadow-2xl divide-y border border-gray-200">
                                        <a href="{{list_id}}" class="py-2">ブックマークから削除</a>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <a href="{{ url_for('main.question_content_get', list_id=list_id)}}"
                            class="w-[180px] h-[76px] bg-white mt-2 px-1 rounded-sm cursor-pointer border border-gray-200 overflow-hidden">
                            <div class="overflow-hidden">{{ list_title }}</div>
                        </a>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>

        <div x-data="{ isOpen: false }" class="w-fit h-fit mt-5">
            <div @click="isOpen = !isOpen" class="w-fit text-xl cursor-pointer">
                <span x-show="!isOpen">▶</span>
                <span x-show="isOpen">▼</span>
                Created List
            </div>
            <ul x-show="isOpen" class="mt-2">
                <!--リストカード-->
                <li class="flex flex-wrap">
                    {% for index in range(created_list_titles|length) %}
                    {% set list_title = created_list_titles[index] %}
                    {% set list_id = created_list_ids[index] %}
                    <div
                        class="m-2 w-[200px] h-[125px] border rounded-md border-yellow-600 bg-gray-50 overflow-hidden hover:shadow-xl flex flex-col items-center">
                        <div class="w-[200px] pl-2 bg-white flex justify-between items-center border-b-2 border-stone-300 rounded-md"
                            x-data="{open_etc: false}">
                            <div class="text-xl">List ID: {{ list_id }}</div>
                            <div>
                                <span class="cursor-pointer font-bold text-xl" @click="open_etc = true">︙</span>

                                <!--リスト詳細メニュー-->
                                <span x-show="open_etc" @click.away="open_etc = false">
                                    <div
                                        class="absolute flex flex-col p-2 bg-white rounded rop-shadow-2xl border border-gray-200">
                                        <a href="{{list_id}}" class="py-2">回答データ</a>
                                        <a href="{{list_id}}" class="py-2 border-y border-gray-300">ブックマークに追加</a>
                                        <a href="{{list_id}}" class="py-2">問題リストを削除</a>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <a href="{{ url_for('main.question_content_get', list_id=list_id)}}"
                            class="w-[180px] h-[76px] bg-white mt-2 px-1 rounded-sm cursor-pointer border border-gray-200 overflow-hidden">
                            <div class="overflow-hidden">{{ list_title }}</div>
                        </a>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>

        <div x-data="{ isOpen: false }" class="w-fit mt-5">
            <div @click="isOpen = !isOpen" class="w-fit text-xl cursor-pointer">
                <span x-show="!isOpen">▶</span>
                <span x-show="isOpen">▼</span>
                Imported List
            </div>
            <ul x-show="isOpen" class="mt-2">
                <!--リストカード-->
                <li class="flex flex-wrap">
                    {% for index in range(imported_list_titles|length) %}
                    {% set list_title = imported_list_titles[index] %}
                    {% set list_id = imported_list_ids[index] %}
                    <div
                        class="m-2 w-[200px] h-[125px] border rounded-md border-yellow-600 bg-gray-50 overflow-hidden hover:shadow-xl flex flex-col items-center">
                        <div class="w-[200px] pl-2 bg-white flex justify-between items-center border-b-2 border-stone-300 rounded-md"
                            x-data="{open_etc: false}">
                            <div class="text-xl">List ID: {{ list_id }}</div>
                            <div>
                                <span class="cursor-pointer font-bold text-xl" @click="open_etc = true">︙</span>

                                <!--リスト詳細メニュー-->
                                <span x-show="open_etc" @click.away="open_etc = false">
                                    <div
                                        class="absolute flex flex-col p-2 bg-white rounded rop-shadow-2xl divide-y border border-gray-200">
                                        <a href="{{list_id}}" class="py-2">ブックマークに追加</a>
                                        <a href="{{list_id}}" class="py-2 border-t border-gray-300">インポートから削除</a>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <a href="{{ url_for('main.question_content_get', list_id=list_id)}}"
                            class="w-[180px] h-[76px] bg-white mt-2 px-1 rounded-sm cursor-pointer border border-gray-200 overflow-hidden">
                            <div class="overflow-hidden">{{ list_title }}</div>
                        </a>
                    </div>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
    {% else %}
    <div class="ml-10 my-2 text-2xl text-yellow-600">
        ようこそ ゲスト 様
    </div>
    {% endif %}
    {% endblock %}
</body>

</html>