<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="tracking-widest overflow-x-hidden" x-data="{ open : false }">
    <header class="flex flex-col">
        <div class="w-screen h-28 bg-black flex justify-center">
            <div class="w-[1200px] min-w-[400px] relative">
                <div class="w-full h-full absolute flex flex-col items-center justify-center">
                    <img src="{{ url_for('static', filename='favicon.png') }}" class="w-16 h-16" />
                    <div
                        class="font-serif text-transparent text-3xl bg-clip-text bg-gradient-to-r from-white to-yellow-600">
                        SOPHIST
                    </div>
                </div>
                <div class="w-full h-full absolute flex flex-col items-end justify-center">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="w-16 flex flex-col items-center justify-center mr-4">
                        <img src="{{ url_for('static', filename='usericon.png') }}" class="w-9 h-9" />
                        <div class="text-yellow-300 text-xs text-center mt-2 tracking-widest">
                            マイページ
                        </div>
                    </a>
                    {% else %}
                    <a href="{{ url_for('auth.login_get') }}"
                        class="w-16 flex flex-col items-center justify-center mr-4">
                        <img src="../static/usericon.png" class="w-9 h-9" />
                        <div class="text-yellow-300 text-xs text-center mt-2">
                            ログイン
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="w-screen h-12 bg-yellow-950 flex justify-center">
            <div class="w-[1200px] min-w-[400px] relative">
                <div class="w-full h-full absolute flex items-center justify-end">
                    <a href="{{ url_for('main.create_question_get') }}"
                        class="mr-6 font-bold text-white tracking-widest hover:text-yellow-300">
                        Create
                    </a>
                    <button @click="open = true"
                        class="mr-6 font-bold text-white tracking-widest hover:text-yellow-300">
                        Import
                    </button>
                </div>
            </div>
        </div>
        <a href="{{ url_for('main.index_get') }}"
            class="absolute left-0 right-0 mt-[5px] mx-auto w-[65px] h-[65px]"></a>
        <a href="{{ url_for('main.index_get') }}"
            class="absolute left-0 right-0 mt-[70px] mx-auto w-[140px] h-[30px]"></a>
    </header>
    <main class="flex justify-center">
        <div class="w-[1200px] min-w-[400px]">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <div x-show="open" class="absolute top-0 left-0 w-screen h-screen">
        <div @click="open = false" class="flex justify-center items-center w-full h-full bg-black bg-opacity-80">
            <div @click.stop="open = true" class="w-[400px] h-[130px] bg-white border rounded-md">
                <div class="mt-2 ml-5 font-bold text-2xl">List ID</div>
                <form action="/question/import" method="POST" class="flex justify-center items-center mt-2">
                    <input name="import" class="w-[200px] h-[50px] pl-2 border-2 font-bold text-2xl tracking-widest rounded-sm" />
                    <button @click.stop="open = false" type="submit"
                        class="w-[100px] h-[50px] bg-yellow-950 text-white text-xl font-bold rounded-sm">
                        Import
                    </button>
                </form>
                <!-- <div class="flex justify-center items-center mt-1 text-red-500">正しい List ID を入力してください</div> -->
            </div>
        </div>
    </div>
</body>

</html>