<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Login / SOPHIST</title>
    <link rel="icon" href="../static/favicon.png">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <form action="/login" method="POST">
        <h1>ログイン</h1>
        <div>
            メールアドレス:<input name="mail"></input>
        </div>
        <div>
            パスワード:<input type="password" name="password"></input>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div>
            <input type="submit" value="ログイン">
        </div>
    </form>
</body>
</html>