<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>Login / SOPHIST</title>
    <link rel="icon" href="../static/favicon.png">
</head>

<body>
    {% extends "layout.html" %}
    {% block content %}

    <div class="m-2 text-3xl">ログイン</div>
    <form action="/login" method="POST" class="m-5">
        <div>
            メールアドレス:<input type="email" name="mail" class="m-2 border-4"></input>
        </div>
        <div>
            パスワード:<input type="password" name="password" class="m-2 border-4"></input>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div>
            <input type="submit" value="ログイン" class="m-2 border-4">
        </div>
    </form>
    <a href="{{ url_for('auth.register_get') }}">
        <div class="m-5">登録はこちら</div>
    </a>

    {% endblock %}
</body>

</html>